body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
  font-family: Arial, sans-serif;
}

.forms {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px;
  max-width: 400px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 64px;
  font-weight: bold;
  color: #3498db;
  margin-bottom: 20px;
  padding: 10px;
  font-family :'Lucida Sans', cursive;
  text-align: center;
  border-bottom: 2px solid #3498db;
  
}

.input-boxes {
  width: 100%;
}

.input-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;

  input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }

  i {
    position: absolute;
    left: 10px;
    color: #3498db;
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
}

.password-requirements {
  width: 100%;
  color: red;
  font-size: 14px;
  margin-top: 5px;

  ul {
    padding-left: 20px;
  }
}

.valid-requirement {
  width: 100%;
  display: none;
  font-size: 14px;
  margin-top: 5px;
}

.dropdown {
  position: relative;
  width: 100%;

  .profile-photo-selection {
    display: flex;
    align-items: center;
  }

  mat-button,button {
    width: calc(100% - 70px);
    text-align: left;
    padding: 10px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
  }

  button:hover {
    background-color: #2980b9;
  }

  i {
    margin-right: 10px;
  }
}

.selected-image {
  margin-right: 10px;

  img {
    border-radius: 50%;
    border: 2px solid #3498db;
    width: 50px;
    height: 50px;
  }
}

.mat-menu-panel {
  max-height: 200px; /* Adjust max-height according to your requirements */
  overflow-y: auto;
}

.button input {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.button input:hover {
  background-color: #2980b9;
}

.text {
  text-align: center;
  margin-top: 15px;
}

.text label {
  color: #3498db;
  cursor: pointer;
  transition: color 0.3s;
}

.text label:hover {
  color: #2980b9;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  color: #3498db;
  margin-bottom: 20px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-align: center;
}
