<div class="forms">
  <h1 class="title" style="color: #3498db; font-family: 'Comic Sans MS', cursive, sans-serif;">Workflow</h1>
  <div class="form-content">
    <div class="login-form">
      <h2 style="color: #3498db; font-family: 'Comic Sans MS', cursive, sans-serif;">Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin($event)">
        <div class="input-boxes">
          <div class="input-box">
            <i class="fas fa-envelope"></i>
            <input
              formControlName="email"
              type="text"
              placeholder="Enter your username"
              required
            />
          </div>
          <div class="input-box">
            <i class="fas fa-lock"></i>
            <input
              formControlName="password"
              type="password"
              placeholder="Enter your password"
              required
            />
          </div>
          <div class="button input-box">
            <input type="submit" value="Login" />
          </div>
          <div class="text sign-up-text">
            Don't have an account? <label (click)="goToRegister()">Signup now</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>