<div class="page">
  <div *ngIf="editedIssue" class="issue-details container">
    <div class="issue-header row">
      <div class="col-md-6">
        <h2>{{ editedIssue.title }}</h2>
        <!-- Label section -->
        <div class="issue-subtitle">
          <mat-form-field appearance="fill">
            <mat-label>Label</mat-label>
            <mat-select
              [(ngModel)]="issue!.labelId"
              (selectionChange)="changeIssueLabel($event)"
            >
              <mat-option
                *ngFor="let label of labels"
                [value]="label.id"
                [style.color]="label.color"
                >{{ label.name }}</mat-option
              >
              <mat-option (click)="openAddLabelDialog()">Add</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Priority section -->
        <div class="issue-subtitle">
          <mat-form-field appearance="fill">
            <mat-label>Priority</mat-label>

            <mat-select
              [(ngModel)]="editedIssue.priority"
              (selectionChange)="changeIssuePriority($event)"
            >
              <mat-option
                *ngFor="let priority of priorities"
                [value]="priority.value"
              >
                <mat-icon matPrefix [style.color]="priority.color">{{
                  priority.icon
                }}</mat-icon>
                {{ priority.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="issue-dropdowns col-md-6 justify-content-end">
        <mat-form-field appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="editedIssue.issueStatus.name">
            <mat-option value="To Do">To Do</mat-option>
            <mat-option value="In Progress">In Progress</mat-option>
            <mat-option value="Done">Done</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Type</mat-label>
          <mat-select [(ngModel)]="editedIssue.issueType.name">
            <mat-option value="Task">Task</mat-option>
            <mat-option value="Story">Story</mat-option>
            <mat-option value="Epic">Epic</mat-option>
            <mat-option value="Bug">Bug</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="issue-content row">
      <div class="left-section col-md-6">
        <div class="issue-field">
          <div class="description-field">
            <div class="mat-label-wrapper">
              <mat-label>Description</mat-label>
            </div>
            <textarea matInput [(ngModel)]="editedIssue.description"></textarea>
          </div>
        </div>
        <div class="issue-field">
          <div class="mat-label-wrapper">
            <mat-label>Created At</mat-label>
          </div>
          <input
            matInput
            type="date"
            [value]="formattedCreatedAt"
            readonly
            disabled
          />
        </div>
        <div class="issue-field">
          <div class="mat-label-wrapper">
            <mat-label>Due Date</mat-label>
          </div>
          <input
            matInput
            type="date"
            [value]="formattedDueDate"
            readonly
            disabled
          />
        </div>
        <div class="issue-field" *ngIf="editedIssue.sprint">
          <div class="mat-label-wrapper">
            <mat-label>Sprint</mat-label>
          </div>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="editedIssue.sprint.name">
              <mat-option
                *ngFor="let sprint of sprints"
                [value]="sprint.name"
                >{{ sprint.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="issue-field">
          <div class="mat-label-wrapper">
            <mat-label>Reporter</mat-label>
          </div>
          <mat-form-field appearance="fill">
            <mat-select
              [(ngModel)]="editedIssue.reporter"
              [compareWith]="compareUsers"
            >
              <mat-option *ngFor="let user of projectUsers" [value]="user">
                <img
                  class="reporter-image"
                  [src]="user.profilePicture"
                  alt="Reporter Image"
                />
                {{ user.fullName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="issue-field">
          <div class="mat-label-wrapper">
            <mat-label>Assignee</mat-label>
          </div>
          <mat-form-field appearance="fill">
            <mat-select
              [(ngModel)]="editedIssue.assignee"
              [compareWith]="compareUsers"
            >
              <mat-option *ngFor="let user of projectUsers" [value]="user">
                <img
                  class="assignee-image"
                  [src]="user.profilePicture"
                  alt="Assignee Image"
                />
                {{ user.fullName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="right-section col-md-6">
        <div class="issue-field">
          <div class="mat-label-wrapper">
            <mat-label>Estimated Time</mat-label>
          </div>
          <input
            matInput
            type="number"
            [(ngModel)]="editedIssue.estimatedTime"
            readonly
            disabled
          />
        </div>
        <div class="issue-field">
          <div class="mat-label-wrapper">
            <mat-label>Logged Time</mat-label>
          </div>
          <input matInput type="number" [(ngModel)]="editedIssue.loggedTime" />
        </div>
        <div class="issue-field">
          <div class="mat-label-wrapper">
            <mat-label>Progress</mat-label>
          </div>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              [style.width]="
                (editedIssue.loggedTime / editedIssue.estimatedTime) * 100 + '%'
              "
              [ngClass]="getProgressBarColor()"
            >
              {{ editedIssue.loggedTime }} / {{ editedIssue.estimatedTime }}
            </div>
          </div>
        </div>
        <div class="save-button">
          <button mat-raised-button color="primary" (click)="saveChanges()">
            <mat-icon>save</mat-icon>
            Save
          </button>
        </div>
      </div>
    </div>
    <div class="issue-field">
      <div class="mat-label-wrapper">
        <mat-label>Issue Childs</mat-label>
        <button mat-icon-button (click)="toggleTable()" class="toggle-button">
          <mat-icon aria-hidden="false" aria-label="Toggle child issues">
            {{ showTable ? "keyboard_arrow_up" : "keyboard_arrow_down" }}
          </mat-icon>
        </button>

        <button
          mat-icon-button
          (click)="showAddIssue = !showAddIssue"
          class="add-issue-button"
        >
          <mat-icon>add</mat-icon>
        </button>
        <mat-form-field appearance="fill">
          <mat-select
            placeholder="Select existent issue"
            (selectionChange)="addExistingIssueAsChild($event.value)"
          >
            <mat-option *ngFor="let issue of allIssues" [value]="issue">{{
              issue.title
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <app-add-issue
        *ngIf="showAddIssue"
        (closeModalEvent)="closeModal()"
        [parentIssue]="editedIssue"
        [selectedProject]="selectedProject!"
      ></app-add-issue>
      <app-child-issues
        *ngIf="showTable"
        [currentIssue]="editedIssue"
        (removeIssueEvent)="handleRemoveIssueEvent($event)"
      ></app-child-issues>
      <app-add-label
        *ngIf="labelMode"
        (closeModalEvent)="closeLabel()"
        (submitEvent)="addedLabel()"
      ></app-add-label>
    </div>
  </div>
</div>
