.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  height: 430px;
  width: 400px;
  margin: 35px;
  position: relative;
}

.pie-chart-canvas {
  width: auto;
  height: auto; 
  align-items: center;
  display: flex;
  justify-content: center;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.chart-header select {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.chart-header select:hover {
  border-color: #888;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.chart-header select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.remove {
  position: absolute;
  top: 10px;
  right: 10px;
}

.remove button {
  background-color: transparent;
  color: #000;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border-radius: 50%;
}

.remove button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.remove button mat-icon {
  font-size: 20px;
}
